In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv")
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [17]:
df["fuel_unit"].isna().sum()/df.shape[0]*100

0.609694136774718

In [18]:
180/29523

0.00609694136774718

In [16]:
df.shape

(29523, 11)

In [7]:
df_corr = df.corr()["fuel_cost_per_unit_burned"]
df_corr.sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

In [20]:
df.groupby("fuel_type_code_pudl").mean()["fuel_cost_per_unit_burned"].sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

In [21]:
coal = df[df["fuel_type_code_pudl"]=="coal"]
coal

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.59000,18.590,18.530,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.59200,18.580,18.530,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.13000,39.720,38.120,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.95000,47.210,45.990,1.970
5,f1_fuel_1994_12_2_0_13,2,1994,e. c. gaston-unit 5,coal,ton,2124933.0,23.92200,44.240,43.250,1.850
...,...,...,...,...,...,...,...,...,...,...,...
29503,f1_fuel_2018_12_191_1_14,191,2018,lawrence,coal,ton,1761218.0,17.88832,26.775,27.392,1.497
29510,f1_fuel_2018_12_403_0_2,403,2018,wygen 2,coal,ton,569800.0,16.11000,14.760,0.810,1.130
29516,f1_fuel_2018_12_12_0_8,12,2018,neil simpson unit 2,coal,ton,491913.0,16.10000,14.760,17.720,1.100
29517,f1_fuel_2018_12_12_0_10,12,2018,wyodak - bhp 20%,coal,ton,409637.0,16.06800,13.690,14.310,0.890
29521,f1_fuel_2018_12_12_1_13,12,2018,wygen 3 bhp 52%,coal,ton,315945.0,16.10800,3.060,14.760,1.110

In [24]:
coal.groupby("report_year").sum()["fuel_cost_per_unit_burned"]

report_year
1994     14984.572
1995     14571.785
1996     12694.803
1997     43742.178
1998     11902.597
1999     16303.468
2000    100428.831
2001     15109.012
2002      9171.164
2003     30954.110
2004      9632.063
2005     11107.182
2006     12402.684
2007     12965.171
2008     14331.348
2009     45554.858
2010     88627.745
2011     17001.015
2012     17546.097
2013     17629.860
2014     15412.197
2015     13338.235
2016     11100.925
2017     10254.284
2018      9488.197
Name: fuel_cost_per_unit_burned, dtype: float64

In [27]:
(14984.572-11902.597)

3081.9750000000004

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
utility_id_ferc1,29523.0,1.186018e+02,7.417835e+01,1.000000,55.0000,122.000000,176.000,5.140000e+02
report_year,29523.0,2.005806e+03,7.025483e+00,1994.000000,2000.0000,2006.000000,2012.000,2.018000e+03
fuel_qty_burned,29523.0,2.622119e+06,9.118004e+06,1.000000,13817.0000,253322.000000,1424034.000,5.558942e+08
fuel_mmbtu_per_unit,29523.0,8.492111e+00,1.060022e+01,0.000001,1.0240,5.762694,17.006,3.412600e+02
fuel_cost_per_unit_burned,29523.0,2.086490e+02,2.854490e+03,-276.080000,5.2070,26.000000,47.113,1.393580e+05
fuel_cost_per_unit_delivered,29523.0,9.175704e+02,6.877593e+04,-874.937000,3.7785,17.371000,42.137,7.964521e+06
fuel_cost_per_mmbtu,29523.0,1.930435e+01,2.091541e+03,-41.501000,1.9400,4.127000,7.745,3.592780e+05

In [11]:
df["fuel_qty_burned"].skew()

15.851495469109503

In [12]:
df["fuel_qty_burned"].kurtosis()

651.3694501337732